{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "38",
          "safari": "10"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
