{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "chrome": "35"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
